.header {
    background: var(--gray300);
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    position: absolute;
}

.header img {
    height: 3.1875rem;
    border-radius: 50%;
}

.avatar {
    display: flex;
    background: transparent;
    border: 0px;
    cursor: pointer;
}

.exit {
    padding: 1rem;
    background: var(--blue200);
    border-radius: 8px;
    border-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s;
}

.exit:hover {
    background: var(--blue100);
}